<!-- <div class="row justify-content-center mt-4">
    <h2>Daftar Tiket</h2>
</div>
<hr> -->
<div class="row justify-content-center mt-4">
    <div class="col">
      <a href="/" class="">Home</a>
    </div>
    <div class="col">
      <input class="form-control me-2" id="myInput" type="search" onkeyup="myFunction()" placeholder="Search" aria-label="Search">
    </div>
</div>
<div class="row justify-content-center mt-4">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#semua">Semua</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#diterima">Diterima</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menunggu">Menunggu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#dibatalkan">Dibatalkan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#ditolak">Ditolak</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#selesai">Selesai</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="semua" class="container tab-pane active"><br>
        <table class="table table-hover" id="myTable">
          <thead class="table">
                <tr>
                  <th style="width: 75px;" scope="col"></th>
                  <th scope="col"></th>
                  <th style="width: 150px;" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <% tickets.forEach((ticket, i) => { %>
                  <tr>
                    <% if (ticket.status === 'Menunggu') { %>
                    <th scope="row"><%= i + 1 %> </th>
                    <td>
                      <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                        <h5><%= ticket.subject %></h5>
                      </a>
                      <p><%= ticket.createdAt.toLocaleString('id') %></p>
                      <p><%= ticket.keterangan %></p>
                      <h6>Status : <%= ticket.status; %></h6>
                    </td>
                    <td>
                      <form method="POST" action="/ticket/cancel">
                        <input type="hidden" name="idTicket" value="<%= ticket.idTicket %>">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are You Sure?')"><i class="bi bi-info-circle"></i> Batalkan</button>
                      </form>
                    </td>
                    </tr>
                    <% } else if (ticket.status === 'Diterima') { %>
                      <th scope="row"><%= i + 1 %> </th>
                      <td>
                        <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                          <h5><%= ticket.subject %></h5>
                        </a>
                        <p><%= ticket.createdAt.toLocaleString('id') %></p>
                        <p><%= ticket.keterangan %></p>
                        <h6>Status : <%= ticket.status; %></h6>
                      </td>
                      <td>
                        <div class="btn-group">
                          <a href="/chatroom/<%= ticket.idChatroom %>" class="btn btn-primary"><i class="bi bi-chat-left-text-fill"></i></a>
                          <form method="POST" action="/ticket/selesai">
                            <input type="hidden" name="idTicket" value="<%= ticket.idTicket %>">
                            <input type="hidden" name="petugas" value="false">
                            <button type="submit" class="btn btn-success" onclick="return confirm('Are You Sure?')"><i class="bi bi-bookmark-check-fill"></i></button>
                          </form>
                        </div>
                      </td>
                      </tr>
                    <% } else if(ticket.status === 'Ditolak') { %> 
                      <th scope="row"><%= i + 1 %> </th>
                      <td>
                        <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                          <h5><%= ticket.subject %></h5>
                        </a>
                        <p><%= ticket.createdAt.toLocaleString('id') %></p>
                        <p><%= ticket.keterangan %></p>
                        <h6>Status : <%= ticket.status; %></h6>
                      </td>
                      <td>
                        <button class="btn text-danger" disabled><i class="bi bi-info-circle"></i> Ditolak</button>
                      </td>
                      </tr>
                    <% } else if(ticket.status === 'Dibatalkan') { %> 
                      <th scope="row"><%= i + 1 %> </th>
                      <td>
                        <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                          <h5><%= ticket.subject %></h5>
                        </a>
                        <p><%= ticket.createdAt.toLocaleString('id') %></p>
                        <p><%= ticket.keterangan %></p>
                        <h6>Status : <%= ticket.status; %></h6>
                      </td>
                      <td>
                        <button class="btn text-danger" disabled><i class="bi bi-info-circle"></i> Dibatalkan</button>
                      </td>
                      </tr>
                    <% } else if(ticket.status === 'Selesai') { %>
                      <th scope="row"><%= i + 1 %> </th>
                      <td>
                        <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                          <h5><%= ticket.subject %></h5>
                        </a>
                        <p><%= ticket.createdAt.toLocaleString('id') %></p>
                        <p><%= ticket.keterangan %></p>
                        <h6>Status : <%= ticket.status; %></h6>
                      </td>
                      <td>
                        <button class="btn text-success" disabled><i class="bi bi-info-circle"></i> Selesai</button>
                      </td>
                      </tr>
                    <% } %>
                  <% }) %>
                </tbody>
        </table>
      </div>
        <div id="diterima" class="container tab-pane fade"><br>
          <table class="table table-hover" id="myTable">
            <thead class="table">
                  <tr>
                    <th style="width: 75px;" scope="col"></th>
                    <th scope="col"></th>
                    <th style="width: 150px;" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <% tickets.forEach((ticket, i) => { %>
                    <tr>
                      <% if (ticket.status === 'Diterima') { %>
                        <th scope="row"><%= i + 1 %> </th>
                        <td>
                          <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                            <h5><%= ticket.subject %></h5>
                          </a>
                          <p><%= ticket.createdAt.toLocaleString('id') %></p>
                          <p><%= ticket.keterangan %></p>
                          <h6>Status : <%= ticket.status; %></h6>
                        </td>
                        <td>
                          <div class="btn-group">
                            <a href="/chatroom/<%= ticket.idChatroom %>" class="btn btn-primary"><i class="bi bi-chat-left-text-fill"></i></a>
                            <form method="POST" action="/ticket/selesai">
                              <input type="hidden" name="idTicket" value="<%= ticket.idTicket %>">
                              <input type="hidden" name="petugas" value="false">
                              <button type="submit" class="btn btn-success" onclick="return confirm('Are You Sure?')"><i class="bi bi-bookmark-check-fill"></i></button>
                            </form>
                          </div>
                        </td>
                        </tr>
                      <% } %>
                    <% }) %>
                  </tbody>
          </table>
        </div>
        <div id="menunggu" class="container tab-pane fade"><br>
          <table class="table table-hover" id="myTable">
            <thead class="table">
                  <tr>
                    <th style="width: 75px;" scope="col"></th>
                    <th scope="col"></th>
                    <th style="width: 150px;" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <% tickets.forEach((ticket, i) => { %>
                    <tr>
                      <% if (ticket.status === 'Menunggu') { %>
                        <th scope="row"><%= i + 1 %> </th>
                        <td>
                          <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                            <h5><%= ticket.subject %></h5>
                          </a>
                          <p><%= ticket.createdAt.toLocaleString('id') %></p>
                          <p><%= ticket.keterangan %></p>
                          <h6>Status : <%= ticket.status; %></h6>
                        </td>
                        <td>
                          <form method="POST" action="/ticket/cancel">
                            <input type="hidden" name="idTicket" value="<%= ticket.idTicket %>">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are You Sure?')"><i class="bi bi-info-circle"></i> Batalkan</button>
                          </form>
                        </td>
                        </tr>
                        <% } %>
                    <% }) %>
                  </tbody>
          </table>
        </div>
      <div id="dibatalkan" class="container tab-pane fade"><br>
        <table class="table table-hover" id="myTable">
          <thead class="table">
                <tr>
                  <th style="width: 75px;" scope="col"></th>
                  <th scope="col"></th>
                  <th style="width: 150px;" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <% tickets.forEach((ticket, i) => { %>
                  <tr>
                    <% if(ticket.status === 'Dibatalkan') { %> 
                      <th scope="row"><%= i + 1 %> </th>
                      <td>
                        <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                          <h5><%= ticket.subject %></h5>
                        </a>
                        <p><%= ticket.createdAt.toLocaleString('id') %></p>
                        <p><%= ticket.keterangan %></p>
                        <h6>Status : <%= ticket.status; %></h6>
                      </td>
                      <td>
                        <button class="btn text-danger" disabled><i class="bi bi-info-circle"></i> Dibatalkan</button>
                      </td>
                      </tr>
                    <% } %>
                  <% }) %>
                </tbody>
        </table>
      </div>
      <div id="ditolak" class="container tab-pane fade"><br>
        <table class="table table-hover" id="myTable">
          <thead class="table">
                <tr>
                  <th style="width: 75px;" scope="col"></th>
                  <th scope="col"></th>
                  <th style="width: 150px;" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <% tickets.forEach((ticket, i) => { %>
                  <tr>
                    <% if(ticket.status === 'Ditolak') { %> 
                      <th scope="row"><%= i + 1 %> </th>
                      <td>
                        <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                          <h5><%= ticket.subject %></h5>
                        </a>
                        <p><%= ticket.createdAt.toLocaleString('id') %></p>
                        <p><%= ticket.keterangan %></p>
                        <h6>Status : <%= ticket.status; %></h6>
                      </td>
                      <td>
                        <button class="btn text-danger" disabled><i class="bi bi-info-circle"></i> Ditolak</button>
                      </td>
                      </tr>
                    <% } %>
                  <% }) %>
                </tbody>
        </table>
      </div>
      <div id="selesai" class="container tab-pane fade"><br>
        <table class="table table-hover" id="myTable">
          <thead class="table">
                <tr>
                  <th style="width: 75px;" scope="col"></th>
                  <th scope="col"></th>
                  <th style="width: 150px;" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  <% tickets.forEach((ticket, i) => { %>
                  <tr>
                    <% if(ticket.status === 'Selesai') { %>
                      <th scope="row"><%= i + 1 %> </th>
                      <td>
                        <a style="text-decoration: none;" href="/ticket/<%= ticket.idTicket %>">
                          <h5><%= ticket.subject %></h5>
                        </a>
                        <p><%= ticket.createdAt.toLocaleString('id') %></p>
                        <p><%= ticket.keterangan %></p>
                        <h6>Status : <%= ticket.status; %></h6>
                      </td>
                      <td>
                        <button class="btn text-success" disabled><i class="bi bi-info-circle"></i> Selesai</button>
                      </td>
                      </tr>
                    <% } %>
                  <% }) %>
                </tbody>
        </table>
      </div>
    </div>
</div>